name: Scraper ClimaSurGBA Diario

on:
  schedule:
    - cron: "0 0 * * *" # Corre todos los días a medianoche
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run scraper
        run: python scraper.py

      - name: Commit CSV
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Actualización diaria ClimaSurGBA"
          file_pattern: "climasurgba.csv"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
